$highlight-text: 'highlight-text'; 
$core-text: 'core-text'; 
$inverse-text: 'inverse-text'; 
$muted-text: 'muted-text'; 
$link-text: 'link-text'; 
$hover-link-text: 'hover-link-text'; 
$background: 'background'; 
$alt-background: 'alt-background'; 
$button-primary: 'button-primary'; 
