$tmThemes: ( 
	mysph: (
		'display-title' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold600, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-5, 
			 text-transform : $type-text-cases-normal, 
    ), 
		'section-title' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold600, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-4, 
			 text-transform : $type-text-cases-normal, 
    ), 
		'screen-title' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold600, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-4, 
			 text-transform : $type-text-cases-normal, 
    ), 
		'blockquote' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold600, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-3, 
    ), 
		'subtitle' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold600, 
			 line-height : $type-line-heights-140, 
			 font-size : $size-font-2, 
			 text-transform : $type-text-cases-normal, 
    ), 
		'button' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold600, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-2, 
			 text-transform : $type-text-cases-normal, 
    ), 
		'social-button' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold600, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-2, 
    ), 
		'emphasis-text' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold600, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-2, 
    ), 
		'body-text' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-regular, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-2, 
    ), 
		'tagline' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-regular, 
			 line-height : $type-line-heights-140, 
			 font-size : $size-font-1, 
    ), 
		'function-text' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold600, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-0, 
			 text-transform : $type-text-cases-uppercase, 
    ), 
  ), 
); 
