* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-color-blue-900;
}

main {
  min-height: 100vh;
  padding: calc($size-font-6 * 2.5) 0;
}

img {
  width: 100%;
  height: auto;
}
.page {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.logo {
  width: auto;
  height: 48px;
  margin-right: 1rem;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  position: absolute;

  @include themed() {
    color: t($inverse-text);
    background-color: t($alt-background);
  }
}

.sentence {
  text-transform: capitalize !important;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  @include themed() {
    color: t($core-text);
    background-color: t($background);
  }
}

.darken {
  font-size: large;
  @include themed() {
    color: t($inverse-text);
    background-color: t($alt-background);
  }
}
section {
  padding: 1rem 0;
  border-bottom: solid 1px $color-greyscale-grey-500;

  &:last-child {
    border: 0;
  }
}
.section {
  padding: 1rem 1rem;
  &.sub {
    padding: 1rem 0;
  }
  h3 {
    text-transform: capitalize;
  }

  &.md {
    max-width: 1024px;
  }
  &.dark {
    background-color: $color-greyscale-grey-900;
    color: $color-greyscale-grey-100;
  }
}
.section-header {
  padding: 1rem;
  background-color: $color-greyscale-grey-500;
  h1 {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    @include themed() {
      color: t($core-text);
    }
  }
}

.page-content {
  padding: calc($size-font-6 * 3) $spacing-md;
  min-height: 100vh;
  @include themed() {
    background-color: t($background);
  }
}

.sidebar-menu {
  list-style: none;
  height: 100%;

  li {
    padding: 0;
    a {
      text-decoration: none;
      @include themed() {
        color: t($link-text);
      }
      padding: 16px 8px;
      border-radius: $size-border-radius-form;
      display: inline-block;
      transition: all 400ms ease-in-out;

      &.active {
        @include themed() {
          background-color: t($link-text);
          color: t($inverse-text);
        }
      }
    }
  }
}

.hero-image {
  width: 60%;
  height: auto;
}

.center-view {
  display: flex;
  height: 100%;
  min-height: 100vh;
  padding: calc($size-font-6 * 2) 0;
  width: 100vw;
  align-items: center;
  text-align: center;
  @include themed() {
    color: t($inverse-text);
    background-color: t($alt-background);
  }
  .view-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 0 $size-font-5;
    text-align: left;
  }
}

.main-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 1rem;

    a {
      padding: 1rem;
      text-decoration: none;
      @include themed() {
        color: t($inverse-text);
      }
    }
  }
}

.card {
  box-shadow: $shadow-card;
  display: inline-block;
  h1 {
    color: $highlight-text;
  }

  .card-wrapper {
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
  }
}

.color-type {
  text-align: center;
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  border: solid 1px $color-greyscale-grey-400;
  border-radius: $size-border-radius-card * 20;
  padding: $spacing-md;
  margin: $spacing-xs;
  gap: 16px;
  cursor: pointer;
  h1 {
    color: $highlight-text;
  }
}

.color-chip {
  min-width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  border: 1px solid $color-greyscale-grey-400;
}

.token-detail {
  display: block;
  width: 100%;
  p {
    display: block;
    margin: 0;
    text-align: left;
  }
}

.type-type {
  display: flex;
  padding: $spacing-md;
  margin-right: $spacing-md;
  gap: 0 16px;
}

.type-fontstyle {
  border-right: solid 1px $color-greyscale-grey-400;
  padding: 16px 0;
  flex: 0 0 auto;
  min-width: 200px;
}
.grid-table {
  display: block;
  max-width: 330px;
}
.table-head,
.table-body {
  display: flex;
  width: 100%;
  border-left: solid 1px $color-greyscale-grey-400;
  border-top: solid 1px $color-greyscale-grey-400;

  > div {
    border-right: solid 1px $color-greyscale-grey-400;
    border-bottom: solid 1px $color-greyscale-grey-400;
    padding: $spacing-xs;
    flex-grow: 1;
    flex-basis: 0;
  }
}

.table-head {
  .header-label {
    font-weight: 700;
  }
  .header-value {
    font-weight: 700;
  }
}

.stylesheet {
  display: flex;
  flex: 0 0 auto;
  border-right: 1px solid $color-greyscale-grey-400;
  padding: 0 16px;

  &:first-child {
    padding: 0 16px 0 0;
  }
  &:last-child {
    border: 0;
  }
}
.type-attr {
  display: flex;
}
.sheet-item {
  padding-bottom: 0.5rem;
  p {
    margin: 0;
    padding: 0;
  }
}
.sheet-value {
  p {
    margin: 0;
    padding: 0;
  }
}

// form styles

a {
  &.button {
    display: inline-block;
    margin: $spacing-md 0;
    padding: calc($spacing-lg/2) $spacing-lg;
    border-radius: $size-border-radius-card;
    text-decoration: none;
    @include themed() {
      color: t($inverse-text);
      background-color: t($button-primary);
    }
  }
}
