$tThemes: ( 
	st: (
		'display-title' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : $type-line-heights-140, 
			 font-size : $size-font-6, 
    ), 
		'section-title' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : 140%, 
			 font-size : 36, 
			 text-case : $type-text-cases-normal, 
    ), 
		'screen-title' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : 140%, 
			 font-size : 24, 
    ), 
		'blockquote' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : 115%, 
			 font-size : 18, 
    ), 
		'subtitle' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-regular, 
			 line-height : 115%, 
			 font-size : 18, 
    ), 
		'button' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : 115%, 
			 font-size : 18, 
    ), 
		'social-button' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : 115%, 
			 font-size : 18, 
    ), 
		'emphasis-text' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : 115%, 
			 font-size : 16, 
    ), 
		'body-text' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-regular, 
			 line-height : 15%, 
			 font-size : 16, 
    ), 
		'tagline' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-regular, 
			 line-height : 115%, 
			 font-size : 14, 
    ), 
		'function-text' :( 
			 font-family : $type-font-families-curator-head-st-bold, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-0, 
			 text-case : $type-text-cases-uppercase, 
    ), 
  ), 
	mysph: (
		'display-title' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : $type-line-heights-140, 
			 font-size : $size-font-6, 
			 text-case : $type-text-cases-normal, 
    ), 
		'section-title' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : 140%, 
			 font-size : 36, 
    ), 
		'screen-title' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : 140%, 
			 font-size : 36, 
    ), 
		'blockquote' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : 115%, 
			 font-size : 20, 
    ), 
		'subtitle' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-regular, 
			 line-height : 115%, 
			 font-size : 18, 
    ), 
		'button' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : 115%, 
			 font-size : 18, 
    ), 
		'social-button' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-3, 
    ), 
		'emphasis-text' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-2, 
    ), 
		'body-text' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-regular, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-2, 
    ), 
		'tagline' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-regular, 
			 line-height : 115%, 
			 font-size : 14, 
    ), 
		'function-text' :( 
			 font-family : $type-font-families-source-sans-pro, 
			 font-weight : $type-font-weights-semibold, 
			 line-height : $type-line-heights-115, 
			 font-size : $size-font-0, 
			 text-case : $type-text-cases-uppercase, 
    ), 
  ), 
); 
